<form action='/' method='post'>
    <label>Podaj liczbę:</label>
    <input type='number' name='x' min='2' max='30' required>
    <label>Wybierz kolory:</label>
    <select id='color1' name='color1'>
        <option value='pink'>Różowy</option>
        <option value='green'>Zielony</option>
        <option value='orange'>Pomarańczowy</option>
        <option value='yellow'>Żółty</option>
    </select>
    <input type='color' name='color2'>
    <input type='submit' value='Generuj tabliczkę'>
    <input type='radio' name='ramka' value='border' checked>Z ramką
    <input type='radio' name='ramka' value=''>Bez ramki
</form>
<br>
<div>
    {{ table | safe }}
</div>

